#buttons{
	background-color: gray;
	width: 100vw;
	height: 40vh;
	display:flex;
	justify-content:space-around;
	align-items:center;
	overflow:hidden;
}
.btn,.stop {
	padding : 5px;
  height:fit-content;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
.stop:hover{
  background-color: #dc3545;
}

.btn:hover {
  background-color: #0056b3;
}